/* nav div {
  justify-content: space-between;
} */

.nav-item > a {
  font-size: 18px;
}

.number-highlight {
  font-size: 32px;
  font-weight: bold;
  color: #1266F1;
}

footer > div > span,a {
  color: gray;
  font-size: 12px;
}

.grow {
  transition: transform .5s;
}

.grow:hover {
  transform: scale(1.1);
}

.highlight {
  transition: color .5s;
  cursor: pointer;
}

.highlight:hover {
  color: #1266F1;
}


