<!-- header import -->
<app-header></app-header>

<!-- App Component Container -->
<div class="content" role="main">
  <div class="container justify-content-center">

    <!-- Section 1 -->
    <div *ngIf="dealCollapse" class="row mt-4 p-4 align-items-center">
      <!-- Section Header -->
      <div class="col-12 col-lg-6">
        <h1>Featured Sales and Events</h1>
      </div>
      <!-- See All -->
      <div (click)="dealExpand()" class="col-12 col-lg-6">
        <h4 class="align-items-center text-primary grow">See All
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
          </svg>
        </h4>
      </div>
    </div>
    <!-- Images Wrapper -->
    <div *ngIf="dealCollapse" class="row align-items-start justify-content-around py-4">
      <!-- Left Image Card -->
      <div class="col-md-3 border grow">
        <!-- images -->
        <div class="row align-items-center">
          <div class="col-6 gx-0">
              <img class="img-fluid" src="https://placeimg.com/640/960/architecture" alt="" srcset="">
          </div>
          <div class="col gx-0">
            <img class="img-fluid" src="https://placeimg.com/640/480/tech" alt="" srcset="">
            <img class="img-fluid" src="https://placeimg.com/640/480/people" alt="" srcset="">
          </div>
          <h5 class="px-2 mt-4">Save up to 60%</h5>
          <p class="pt-0 px-2 mt-0">
            Lorem ipsum dolor sit amet ultrices blandit erat sed
          </p>
        </div>
      </div>
      <!-- Center Image Card -->
      <div class="col-md-3 border grow">
        <!-- images -->
        <div class="row align-items-center">
          <div class="col-6 gx-0">
              <img class="img-fluid" src="https://placeimg.com/640/960/tech" alt="" srcset="">
          </div>
          <div class="col gx-0">
            <img class="img-fluid" src="https://placeimg.com/640/480/nature" alt="" srcset="">
            <img class="img-fluid" src="https://placeimg.com/640/480/architecture" alt="" srcset="">
          </div>
          <h5 class="px-2 mt-4">10% Off</h5>
          <p class="pt-0 px-2 mt-0">
            Sed ultrices blandit erat sed fermentum
          </p>
        </div>
      </div>
      <!-- Right Image Card -->
      <div class="col-md-3 border grow">
        <!-- images -->
        <div class="row align-items-center">
          <div class="col-6 gx-0">
              <img class="img-fluid" src="https://placeimg.com/640/960/nature" alt="" srcset="">
          </div>
          <div class="col gx-0">
            <img class="img-fluid" src="https://placeimg.com/640/480/tech/sepia" alt="" srcset="">
            <img class="img-fluid" src="https://placeimg.com/640/480/people/grayscale" alt="" srcset="">
          </div>
          <h5 class="px-2 mt-4">Essential Deals</h5>
          <p class="pt-0 px-2 mt-0">
            Sed ultrices blandit erat sed fermentum
          </p>
        </div>
      </div>
    </div>

    <app-featured *ngIf="!dealCollapse"></app-featured>

    <!-- Section 2 -->
    <div class="row mt-4 p-4 align-items-center">
      <div class="col-12">
        <h1>Pick of the Day</h1>
      </div>
    </div>
    <!-- Images Wrapper -->
    <div class="row align-items-center justify-content-around p-4">
      <!-- Image 1 -->
      <div class="col-4 col-md-2 gx-0 border grow">
        <img class="img-fluid" src="https://placeimg.com/640/640/architecture/sepia" alt="" srcset="">
          <p class="pt-0 px-2 mt-4 highlight">
            1 Day 3hrs 16min<br>
            <strong>£32.99</strong>
          </p>
      </div>
      <!-- Image 2 -->
      <div class="col-4 col-md-2 gx-0 border grow">
        <img class="img-fluid" src="https://placeimg.com/640/640/animals" alt="" srcset="">
        <p class="pt-0 px-2 mt-4 highlight">
          1 Day 3hrs 16min<br>
          <strong>£32.99</strong>
        </p>
      </div>
      <!-- Image 3 -->
      <div class="col-4 col-md-2 gx-0 border grow">
        <img class="img-fluid" src="https://placeimg.com/640/640/nature" alt="" srcset="">
        <p class="pt-0 px-2 mt-4 highlight">
          1 Day 3hrs 16min<br>
          <strong>£32.99</strong>
        </p>
      </div>
      <!-- Image 4 -->
      <div class="col-4 col-md-2 gx-0 border grow">
        <img class="img-fluid" src="https://placeimg.com/640/640/tech" alt="" srcset="">
        <p class="pt-0 px-2 mt-4 highlight">
          1 Day 3hrs 16min<br>
          <strong>£32.99</strong>
        </p>
      </div>
      <!-- See More -->
      <div class="col-4 col-md-3">
        <h3 class="align-items-center text-primary grow">See All
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
          </svg>
        </h3>
      </div>
    </div>

    <!-- Section 3 -->
    <div class="row mt-4 p-4 align-items-center">
      <!-- Section Header -->
      <div class="col-12 col-lg-6">
        <h1>Trending</h1>
      </div>
      <!-- See All -->
      <div class="col-12 col-lg-6">
        <h4 class="align-items-center text-primary grow">See All Trends
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
          </svg>
        </h4>
      </div>
    </div>
    <!-- Images Wrapper -->
    <div class="row align-items-center justify-content-around p-4">
      <!-- Left Image Card -->
      <div class="col-md-3 gx-0 border grow">
        <img class="img-fluid" src="https://placeimg.com/740/740/nature" alt="" srcset="">
        <div class="container p-2">
          <span class="p-2 number-highlight">1</span>
          <span class="">
            <strong>Lorem ipsum</strong> 65,125 views
          </span>
        </div>
      </div>
      <!-- Center Image Card -->
      <div class="col-md-3 gx-0 border grow">
        <img class="img-fluid" src="https://placeimg.com/740/740/tech" alt="" srcset="">
        <div class="container p-2">
          <span class="p-2 number-highlight">2</span>
          <span class="">
            <strong>Lorem ipsum</strong> 51,578 views
          </span>
        </div>
      </div>
      <!-- Right Image Card -->
      <div class="col-md-3 gx-0 border grow">
        <img class="img-fluid" src="https://placeimg.com/740/740/architecture" alt="" srcset="">
        <div class="container p-2">
          <span class="p-2 number-highlight">3</span>
          <span class="">
            <strong>Lorem ipsum</strong> 49,239 views
          </span>
        </div>
      </div>
    </div>

  </div>

<app-footer></app-footer>

<router-outlet></router-outlet>
