/* nav div {
  justify-content: space-between;
} */

.nav-item > a {
  font-size: 18px;
}

.number-highlight {
  font-size: 32px;
  font-weight: bold;
  color: #1266F1;
}

footer > div > span,a {
  color: gray;
  font-size: 12px;
}


