 <!-- Footer -->
 <hr>
 <footer class="bg-light p-4">
   <!-- Line 1 -->
   <div class="pb-2">
     <span>
       <a class="p-2 highlight" href="#">About FleaBay</a>
     </span>
     <span>
       <a class="p-2 highlight" href="#">Announcements</a>
     </span>
     <span>
       <a class="p-2 highlight" href="#">Community</a>
     </span>
     <span>
       <a class="p-2 highlight" href="#">Buyer Centre</a>
     </span>
     <span>
       <a class="p-2 highlight" href="#">Safety Centre</a>
     </span>
     <span>
       <a class="p-2 highlight" href="#">Resolution Centre</a>
     </span>
     <span>
       <a href="#">Seller Centre</a>
     </span>
   </div>
   <!-- Line 2 -->
   <div class="p-2">
     <span>
       Copyright © 1995-2021 FleaBay Inc. All Rights Reserved.
       <a class="highlight" href="#">User Agreement, </a>
       <a class="highlight" href="#">Privacy, </a>
       <a class="highlight" href="#">Cookies</a>
     </span>
   </div>
 </footer>
